<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>
	<%- include header %>
	<title> My App </title>
    </head>

    <body ng-controller="mainController">
	<p> Welcome to my application! </p>
	<p> Message: {{ message }} </p>
    </body>

    <%- include footer %>

</html>
